We beginnen hieronder met het importeren van pandas. Daarnaast veranderen we de instellingen van deze Jupyter Notebook om tabellen makkelijker en overzichterlijker kunnen bekijken.

In [5]:
import pandas as pd
# %reload_ext google.colab.data_table

We beginnnen met het inladen van .csv data. Dit doen we met de `read_csv` functie. Aan deze functie geef je de locatie (file path) van het csv bestandje dat je wilt inladen als string. Vervolgens moet je de ingeladen data in een variabele bewaren. In dit geval zullen we deze variabele `df` noemen. Hieronder een demonstratie:

In [6]:
df = pd.read_csv('california_housing_train')

FileNotFoundError: [Errno 2] No such file or directory: 'california_housing_train'

Als het goed is, ontvang je een foutmelding omdat het bestand niet gevonden kan worden. In dit geval door een typfout (extensie ontbreekt) en een incorrect opgegeven bestandslocatie (bestand staat in mapje 'data'). Hieronder de verbeterde versie:

In [7]:
df = pd.read_csv('data/california_housing_train.csv')

De data is ingeladen in een speciaal Pandas object, genaamd een *dataframe*. Dit is grofweg gezegd een tabel met een index, kolommen en bijbehorende kolomwaarden, zoals je misschien gewend bent van programma's als Excel.
Laten we bekijken hoe deze data eruit ziet. Dat kan door simpelweg de naam van de dataframe aan te roepen:

In [8]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

# Opdracht: Dataframes opslaan

De ingeladen dataframe kunnen we weer opslaan met de commando `df.to_csv`. Let wel op: als de dataframe anders dan `df` heet, gebruik je die naam. Dus als we de dataframe bijvoorbeeld in een variabele genaamd `mijn_data` hadden gestopt, hadden we `mijn_data.to_csv` moeten gebruiken.

Vervolgens geef je als argument een string met de locatie waar je de dataframe wilt opslaan, soortgelijk aan de `read_csv` functie eerder.

- Uncomment de regels in de codeblock hieronder waar dat gevraagd wordt.
- Sla nu in de codeblock hieronder de dataframe `df` op in een zelfgekozen locatie met een zelfgekozen bestandsnaam. 
- Zoek vervolgens in de Notebook of de csv inderdaad is opgeslagen (klik op het map icoontje in het menu links, onder de vergrootglas). 
- Probeer daarna weer ditzelfde bestand op te halen.

In [9]:
# Opdracht: Dataframes opslaan

# Kies een locatie voor de opgeslagen csv
# opslag_locatie = <INVULLEN>  # Uncomment deze regel

# Sla csv op in gekozen locatie
# df.to_csv(<INVULLEN>) # Uncomment deze regel

# Haal de opgeslagen csv weer op en sla in een andere dataframe op
# df2 = pd.read_csv(<INVULLEN>) # Uncomment deze regel

# Antwoord: Dataframes opslaan

In [10]:
#@title
# Antwoord: Dataframes opslaan

# Kies een locatie voor de opgeslagen csv
opslag_locatie = 'data/california_housing_kopie.csv'

# Sla csv op in gekozen locatie
df.to_csv(opslag_locatie)

# Haal de opgeslagen csv weer op en sla in een andere dataframe op
df2 = pd.read_csv(opslag_locatie)

Voor het gemak gebruiken we vanaf nu een data set genaamd `exercises` die inbegrepen zit in de module `Seaborn`.

In [ ]:
import seaborn as sns

# vaak wordt df(dataframe) als variabelenaam gebruikt
df = sns.load_dataset('exercise').drop(columns=['Unnamed: 0'])
df

Het valt misschien inmiddels op dat veel functies en eigenschappen opgehaald worden met een punt en ook dat meerdere functies achter elkaar uitgevoerd kunnen worden,
door deze aan elkaar te schrijven,, gescheiden met een punt.

We kunnen wat samenvattende statistieken/eigenschappen van deze Dataframe bekijken met de `info` en `describe` functie

In [ ]:
print("Data type per kolom en aantal geldige rijen:")
df.info()

print()
print("Samenvattende statistieken per kolom:")
df.describe()

# Opdracht: Samenvattende statistieken
 Welke kolommen bevat de bovenstaande dataframe volgens de `info` functie? En welke zie je terug in de uitvoer van de `describe` functie? Waar komt dit verschil vandaan, denk je? Hint: wat is de datatype voor elke kolom volgens de `info` functie?

# Antwoord: Samenvattende statistieken

In [ ]:
#@title
# Volgens de info functie bevatten de kolommen diet, time en kind categorische waardes. 
# Je kan hier geen statistieken over berekenen, omdat het geen getallen zijn.

Om de data vervolgens iets dieper te verkennen, bekijken we de eerste rijen van deze data set d.m.v. de `head` functie.

In [ ]:
# De head functie geeft een voorproefje van de data door de eerste rijen te printen. 
# Je krijgt standaard de eerste 5 rijen te zien, maar je kan aangeven hoeveel rijen 
# je wilt: df.head(100) geeft de eerste 100 rijen b.v.

df.head()

# Opdracht: Pandas tail functie 
Op dezelfde manier geeft de `tail` functie de *laatste* rijen van een dataframe. Haal de laatste 10 rijen hiermee op.

In [ ]:
# Gebruik tail functie om de laatste rijen van een dataframe op te halen
# df.<INVULLEN> # Uncomment deze regel

# Antwoord: Pandas tail functie

In [ ]:
#@title
# Gebruik tail functie om de laatste rijen van een dataframe op te halen
df.tail(10)

Krachtiger is de `loc` functie (locate). Hiermee kunnen we specifieke rijen ophalen. Bijvoorbeeld aan de hand van de index (rijnummer).

In [ ]:
# Haal index 2 tot en met 4 op
df.loc[2:4]

In [ ]:
# Haal van index 2 tot en met 10 elke tweede rij (dus steeds eentje overslaan)
df.loc[2:10:2]

# Opdracht: Queryen met index
Haal van rijnummer 2 tot en met 10 elke derde rij op (dus steeds twee rijen overslaan)

In [ ]:
# df.loc[<INVULLEN>] # Uncomment deze regel

# Antwoord: Queryen met index

In [ ]:
#@title
df.loc[2:10:3]

Queryen op index is leuk, maar praktischer is om dit op bepaalde kolomwaarden te doen. In Pandas doe je dit meestal in twee stappen. Eerst stel je een query op, waarbij Pandas voor elke rij uitzoekt of deze aan de query voldoet. Pandas geeft hierbij een Series terug met Booleans (True/False). Vervolgens haal je die rijen daadwerkelijk op.

In [ ]:
# query bevat een tabel met rijnummers en of een rij aan de query voldoet (True of False)
query = df['kind'] == 'rest'
query

In [ ]:
# Zoek de rijen op die aan de query voldoen. Dit geeft een Dataframe terug (waarvan je iedere kolom als een Series zou kunnen zien)
df_query = df.loc[query]
df_query.head()

We beginnen nu met data cleaning. Dit is een overkoepelende term voor het corrigeren van ongewenste of foute data.

Sommige data hebben ongeldige waardes. In de Dataframe zie je dan een NaN (Not a Number) en kun je wegfilteren met de `dropna` functie. Wij verwijderen in deze module rijen met NaNs. Maar normaliter, kan je in de praktijk de NaN bijvoorbeeld vervangen met de gemiddelde waarde uit die kolom. Dan hoef je niet de hele rij te verwijderen en dus meer data nuttig gebruiken.

In [ ]:
df_nan = df.dropna()

We vervolgen de data cleaning door kolommen een betere naam te geven

In [ ]:
# We veranderen de kolomnaam 'time' naar 'minutes', aangezien dit niet echt een tijd geeft
# maar een aantal minuten
df_clean = df_nan.rename(columns={'time': 'minutes'})

We zien hieronder dat deze kolom strings bevat, maar in dit specifieke geval zouden integers efficienter zijn en ook makkelijker om later te manipuleren/berekeningen op te doen.

In [ ]:
# De kolom met aantal minuten bevat tekst/een string:
df_clean['minutes'].head()

# Opdracht: De apply functie

Om de strings naar integers om te zetten moeten we in de kolomwaardes het gedeelte met getallen behouden en de onnodige 'min' tekst verwijderen.
Maak een functie genaamd `verwijder_min` die een string aanneemt en de laatste 4 karakters verwijderd.

In [ ]:
# def verwijder_min(<INVULLEN>): #Uncomment deze regel
    # Verwijder de laatste 4 karakters van de string 
    # en sla deze op in de variabele 'minuten'
    # minuten = <INVULLEN> # Uncomment deze regel
#   return <INVULLEN> # Uncomment deze regel

# Antwoord: De apply functie

In [ ]:
#@title
def verwijder_min(tekst): 
    # Verwijder de laatste 4 karakters van de string 
    # en sla deze op in de variabele 'minuten'
    minuten = tekst[:-4]
    return minuten

Voorheen zagen we dat for loops iteratief elementen uit een lijst kunnen gebruiken/bewerken.
In pandas kunnen we soortgelijk een functie toepassen op elke rij door middel van de `apply` functie. We gebruiken nu deze functie om de `verwijder_min` functie op elke rij toe te passen.

In [ ]:
df_clean['minutes_int'] = df_clean['minutes'].apply(verwijder_min)

df_clean['minutes_int']

Nu we de tekst hebben verwijderd kunnen we aan pandas aangeven dat deze kolom enkel uit integers bestaat. Deze omzetting doe je door de functie `astype` toe te passen met als argument `int`. Pas nu deze omzetting toe.

# Opdracht: String naar integer

In [ ]:
# Zet  'minutes' kolom om tot int
# df_clean['minutes'] = df_clean['minutes'].astype(<INVULLEN) # Uncomment deze regel

# df_clean['minutes'] # Uncomment deze regel

# Antwoord: String naar integer

In [ ]:
#@title
# Zet 'minutes' kolom om tot int
df_clean['minutes_int'] = df_clean['minutes_int'].astype('int')

df_clean['minutes_int']

Nu de data (een beetje) schoon is, kunnen we beginnen met data analyse. Hiervoor gebruiken we hieronder de `groupby`, `pivot_table` en `heatmap` functie.

In [ ]:

# Met de 'groupby' functie kan je data groeperen op unieke waardes in een kolom en vervolgens met de 'agg' (aggregatie) functie
# statistieken uit halen. Hieronder groeperen we op de twee unieke waardes no fat and low fat uit de kolom diet. Vervolgens berekenen
# we de gemiddelde pulse en minutes voor die unieke groepen.
df_clean.groupby(by='diet').agg({'pulse': 'mean', 'minutes_int': 'mean'})

In [ ]:
# De pivot table functie is uitzonderlijk krachtig om overzichtelijker naar data te kijken
df_pivot = pd.pivot_table(df_clean, index='minutes_int', columns='kind', values='pulse')

df_pivot

In [ ]:
sns.heatmap(df_pivot, cbar_kws={'label': 'Pulse'})

Nu gaan we een soortgelijke pivot table maken over alle personen (kolom 'id').

# Opdracht: Query 'running'
We beperken ons tot rennen. Selecteer de rijen die hiermee corresponderen.

In [ ]:
# Selecteer van de kolom 'kind' alleen de rijen die corresponderen met 'running'
# query = df_clean[<INVULLEN>] == <INVULLEN> # Uncomment deze regel
# df_clean_running = df_clean[query] # Uncomment deze regel

# df_clean_running = df_clean[df_clean['kind'] == 'running']

# Antwoord: Query 'running'

In [ ]:
#@title
# Selecteer van de kolom 'kind' alleen de rijen die corresponderen met 'running'
query = df_clean['kind'] == 'running'
df_clean_running = df_clean[query]

# Opdracht: Pivot IDs
Gebruik zoals je hierboven ziet een pivot table om het aantal minuten (kolom *minuten*) en IDs (kolom *id*) als assen (index en columns) te gebruiken met de *pulse* als waarde (values).

In [ ]:
# Pivot table over 'minuten' en 'id' kolom met als waarde 'puls
# df_pivot_ids = pd.pivot_table(df_clean_running, index=<INVULLEN>, columns=<INVULLEN>, values=<INVULLEN>) # Uncomment deze regel

# Visualiseer pivot table met een heatmap
# sns.heatmap(<INVULLEN>) # Uncomment deze regel

# Antwoord: Pivot IDs

In [ ]:
#@title
# Pivot table over 'minuten' en 'id' kolom met als waarde 'pulse'
df_pivot_ids = pd.pivot_table(df_clean_running, index='minutes_int', columns='id', values='pulse')

# Visualiseer pivot table met een heatmap
sns.heatmap(df_pivot_ids, cbar_kws={'label': 'Pulse'})

De `groupby` functie is in veel andere Pandas functies ingebakken, zoals de `hist` functie, waarmee je een histogram kan maken.

In [ ]:
df_clean['pulse'].hist(by=df_clean['diet']) # Dit plot pulse op x-as

# Opdracht: Histogram per activiteit
Gebruik zoals hierboven de hist functie om voor elke unieke waarde van de kolom 
`kind` een histogram van de `pulse` waardes te maken. Wat valt op? Vind je dit logisch?

In [ ]:
# Histogram voor elke unieke waarde in de kolom 'kind'
# df_clean['pulse'].hist(by=<INVULLEN>) # Uncomment deze regel

# Antwoord: Histogram per activiteit

In [ ]:
#@title
# Histogram voor elke unieke waarde in de kolom 'kind'
df_clean['pulse'].hist(by=df_clean['kind']) # Dit plot pulse op x-as

# Wat valt op? Vind je dit logisch?
# Voor de waarde 'rest' komen lagere hartslagen voor dan 'walking' en 'running'
# Ik vind dat zelf wel logisch :)